<footer id="footer">
    <section>
        <div class="uk-container">
            <div class="footer--logo-links-wrapper">
                <a class="footer--logo" href="#"><img width="52" height="48" src="{{ 'assets/images/logo_nav.svg'|theme }}" alt="logo">
                </a>
                <ul class="footer--links">
                    <li><a href="#">{{ 'Договір оферти'|_ }}</a></li>
                    <li><a href="#">{{ 'Умови користування'|_ }}</a></li>
                    <li><a href="#">{{ 'Політика конфіденційності'|_ }}</a></li>
                    <li><a href="#">{{ 'Політика cookies'|_ }}</a></li>
                </ul>
            </div>
            <ul class="socials">
                <li>
                    <a href="#"> <img width="25" height="25" src="{{ 'assets/images/instagram.svg'|theme }}" alt="Instagram"> </a>
                </li>
                <li>
                    <a href="#"><img width="25" height="25" src="{{ 'assets/images/twitter.svg'|theme }}" alt="Twitter"> </a>
                </li>
                <li>
                    <a href="#"><img width="13" height="25" src="{{ 'assets/images/facebook.svg'|theme }}" alt="Facebook"> </a>
                </li>
            </ul>

        </div>
    </section>

</footer>
<div class="customer-support">
    <div class="customer--overlay">
        <div class="customer--line"></div>
    </div>
    <div class="customer--element"></div>
</div>
</div>
<div class="cursor"></div>